* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;

  .setup {
    background-color: azure;
    width: 100%;

    div {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;

      h1 {
        width: 100%;
        text-align: center;
      }
    }
  }
  .result {
    .images {
      margin: 20px 0;
      width: 100%;
      display: flex;
      align-items: center;

      .targetImage {
        max-width: 360px;
        width: 100%;
        height: auto;
      }

      .mazeContainer {
        width: 360px;
      }

      .solvedMazeContainer {
        width: 360px;
      }

      svg {
        width: 100%;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
      button {
        width: 160px;
        height: 60px;
      }
    }
  }
}
