* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;

  h1 {
    width: 100%;
    text-align: center;
    margin: 12px 0;
  }

  .setup {
    background-color: azure;
    width: 100%;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;

    form {
      padding: 20px 0 10px 0;

      table {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        border-spacing: 0;

        td {
          padding: 8px;
        }
        td:nth-child(2) {
          padding-right: 60px;
          width: 30%;
          border-right: 2px solid blue;
        }

        td:nth-child(3) {
          padding-left: 60px;
          width: 30%;
        }
      }

      input {
        width: 100%;
      }
    }
  }

  .result {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    h2 {
      margin: 8px 0;
      width: 100%;
      text-align: center;
    }

    .images {
      margin: 20px 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .targetImage {
        max-width: 360px;
        width: 100%;
        height: auto;
        padding: 10px;
      }

      .mazeContainer {
        width: 360px;
      }

      .solvedMazeContainer {
        width: 360px;
      }

      svg {
        width: 100%;
      }
    }
    .buttons {
      display: flex;
      justify-content: space-around;
      width: 100%;
      button {
        width: 160px;
        height: 60px;
      }
    }
  }

  .error {
    text-align: center;
    color: red;
    margin-top: 16px;
  }

  div {
    width: 100%;

    p {
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
