<html>
  <head>
    <title>Mazeify</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.scss') }}"
    />
  </head>
  <body>
    <main>
      <div>
        <h1>Image to maze transform</h1>
        <section class="setup">
          <form enctype="multipart/form-data" id="imageForm">
            <table>
              <tr>
                <td><label for="startIndex">Maze start (%):</label></td>
                <td>
                  <input type="range" name="startIndex" min="0" max="100" />
                </td>

                <td><label for="cellSize">Cell size:</label></td>
                <td><input type="range" name="cellSize" min="1" max="30" /></td>
              </tr>
              <tr>
                <td><label for="endIndex">Maze end (%):</label></td>
                <td>
                  <input type="range" name="endIndex" min="0" max="100" />
                </td>

                <td><label for="wallSize">Wall size:</label></td>
                <td><input type="range" name="wallSize" min="1" max="10" /></td>
              </tr>
              <tr>
                <td><label for="seed">Seed:</label></td>
                <td><input type="number" name="seed" value="69" /></td>

                <td><label for="wallColor">Wall color:</label></td>
                <td><input type="color" name="wallColor" /></td>
              </tr>
              <tr>
                <td><label for="sizePercent">Size (%):</label></td>
                <td>
                  <input type="range" name="sizePercent" min="1" max="100" />
                </td>

                <td><label for="solutionColor">Solution color:</label></td>
                <td>
                  <input type="color" name="solutionColor" value="#ff0000" />
                </td>
              </tr>
              <tr>
                <td>Target image:</td>
                <td>
                  <input
                    type="file"
                    name="image"
                    id="image"
                    accept="image/png, image/jpeg"
                    required
                  />
                </td>

                <td colspan="2">
                  <input
                    type="submit"
                    value="Submit"
                    id="submit"
                    class="disableOnSend"
                  />
                </td>
              </tr>
            </table>

            <br />
          </form>
        </section>
        <section class="result" id="result">
          <h2>Result</h2>
          <br />
          <div class="images">
            <img
              src=""
              alt="Uploaded Image"
              class="targetImage"
              id="targetImage"
            />
            <div
              src=""
              alt="Maze"
              class="mazeContainer"
              id="mazeContainer"
            ></div>
            <div
              src=""
              alt="Solved Maze"
              class="solvedmazeContainer"
              id="solvedmazeContainer"
            ></div>
          </div>
          <div class="buttons">
            <button id="mazeDownload" class="disableOnSend">
              Download maze
            </button>
            <button id="solutionDownload" class="disableOnSend">
              Download solution
            </button>
          </div>
        </section>
      </div>

      <div>
        <p>
          Due to limited CPU usage mazes are limited to around 101*101 cells.
        </p>
      </div>
    </main>
  </body>
  <script>
    const form = document.querySelector(`#imageForm`);
    let submitted = false;
    var svgMaze = undefined;
    var svgSolved = undefined;
    document.getElementById("result").style.display = "none";

    async function handleSubmit(event) {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);
      const imageInput = document.getElementById("image").files[0];
      document.getElementById("targetImage").src =
        URL.createObjectURL(imageInput);
      document
        .querySelectorAll(".disableOnSend")
        .forEach((el) => (el.disabled = true));

      const response = await fetch("/", { method: "POST", body: formData });

      const svg = await response.json();
      document.getElementById("result").style.display = "block";
      document
        .querySelectorAll(".disableOnSend")
        .forEach((el) => (el.disabled = false));

      svgMaze = svg.maze;
      svgSolved = svg.solved;
      document.getElementById("mazeContainer").innerHTML = svg.maze;
      document.getElementById("solvedmazeContainer").innerHTML = svg.solved;
      submitted = true;
    }

    function handleDownload(type) {
      var maze = svgMaze;
      if (type == "solution") {
        maze = svgSolved;
      }
      console.log(type);
      const blob = new Blob([maze], { type: "image/svg+xml" });
      const url = URL.createObjectURL(blob);
      const a = document.createElement("a");
      a.href = url;
      a.download = type === "solution" ? "maze-solution.svg" : "maze.svg";
      document.body.appendChild(a);
      a.click();
      document.body.removeChild(a);
      URL.revokeObjectURL(url);
    }

    document.getElementById("mazeDownload").addEventListener("click", () => {
      handleDownload("maze");
    });
    document
      .getElementById("solutionDownload")
      .addEventListener("click", () => {
        handleDownload("solution");
      });
    form.addEventListener(`submit`, handleSubmit);
    const inputs = form.querySelectorAll("input, select, textarea");
  </script>
</html>
